<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Panel Administrador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button
    expand="block"
    color="success"
    (click)="agregarLugar()">

    Agregar Nuevo Lugar

  </ion-button>

  <ion-list>
    @for (lugar of lugares; track lugar.nombre; let indice = $index) {
      <ion-item>
        <ion-label>
          <h2>{{ lugar.nombre }}</h2>
          <p>{{ lugar.descripcion }}</p>
          <p>{{ lugar.categoria }}</p>
        </ion-label>

        <ion-button
          color="danger"
          slot="end"
          (click)="eliminarLugar(indice)">
          Eliminar
        </ion-button>
      </ion-item>
    }
  </ion-list>

  <ion-button
    expand="block"
    color="medium"
    (click)="cerrarSesion()">

    Cerrar Sesión

  </ion-button>

</ion-content>
